@using FIT_PONG.ViewModels.FeedVMs
@using ReflectionIT.Mvc
@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging
@model DisplayFeedVM
@{
    ViewData["Title"] = "Prikaz";
    var kreator = (string)ViewBag.username;
    var trenutna = (int)ViewBag.trenutna;
    var ukupnoStranica = (int)ViewBag.ukupnoStranica;
}

<br />

@if (Model.Objave.Count() == 0)
{
    <p>Trenutno nema objava dodajte nekad novu</p>
}
else
{
    <nav>
        @*@await this.Component.InvokeAsync("Pager", new { pagingList = Model.Objave })*@
        <ul class="pagination">
            @for (int i = 1; i <= ukupnoStranica; i++)
            {
                if (i == trenutna)
                {
                    <li class="page-item active">
                        <a class="page-link" ajax-poziv="da" ajax-rezultat="Feed" href="/Feed/Prikaz/@Model.ID?page=@i">@i</a>

                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" ajax-poziv="da" ajax-rezultat="Feed" href="/Feed/Prikaz/@Model.ID?page=@i">@i</a>
                    </li>
                }

            }
        </ul>
    </nav>

    <table>
        @foreach (var x in Model.Objave)
        {

            <tr>
                <td>
                    <table>
                        <tr>
                            <td><a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/Prikaz/@x.ID">@x.Naziv</a></td>
                            <td class="small">@x.DatumKreiranja</td>
                            <td class="small">Napisao/la : @kreator</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid">
                    @x.Content
                </td>
            </tr>

        }
    </table>
    @*<nav>
            <vc:pager paging-list="Model.Objave" />
        </nav>*@
}
<br />
<br />
@if (kreator == Context.User.Identity.Name)
{
    <a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/Dodaj/@Model.ID" class="btn btn-outline-primary">Dodaj objavu</a>
    <br />
}
@*<input type="button" value="Edit" onclick="window.location.href='/Feed/Edit/@fid.ID'" />
    <input type="button" value="Obrisi" onclick="window.location.href='/Feed/Obrisi/@fid.ID'"  />*@
