@inject SignInManager<IdentityUser<int>> signinMenadjer;
@model HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}
<style>
    #lampica {
        width: 150px;
        height: 150px;
    }

    .customclasa {
        width: 150px;
        margin-right: 20px;
    }

    .divZaLogine {
        margin-top: 20px;
    }

    .lijevaStrana {
        width: 50%;
        float: left;
    }

    .desnaStrana {
        float: left;
        height: 500px;
        width: 45%;
        margin-left: 4%;
    }

    .lampicaDiv {
        margin-bottom: 100px;
    }

    .objave {
    }

    .vannavbara {
        padding-left: 2px;
    }

        .vannavbara li {
            border-bottom: 1px solid black;
            list-style: none;
            margin-bottom: 5px;
        }

    /* [SLIDER] */
    .slider, .slider .slide {
        width: 500px;
        height: 300px;
    }

    .slider {
        overflow: hidden;
        margin: 0 auto;
        font-size: 1.2em;
        background-color: lightblue;
        border: 2px solid black;
    }

        .slider .container {
            position: relative;
            bottom: 0;
            right: 0;
            animation: slide-animation 30s infinite;
        }

        .slider #rez {
            position: relative;
            bottom: 0;
            right: 0;
            animation: rezultati 20s infinite;
        }

        .slider .slide {
            position: relative;
            box-sizing: border-box;
            padding: 10px 20px;
        }

    #sliderRezultati, #rezultati {
        width: 500px;
        height: 200px;
    }

    h1 {
        text-align: center;
    }

    /* [ANIMATION] */
    @@keyframes slide-animation {
        0% {
            opacity: 0;
            bottom: 0;
        }

        11% {
            opacity: 1;
            bottom: 0;
        }

        22% {
            bottom: 100%;
        }

        33% {
            bottom: 100%;
        }

        44% {
            bottom: 200%;
        }

        55% {
            bottom: 200%;
        }

        66% {
            bottom: 300%;
        }

        77% {
            bottom: 300%;
        }

        88% {
            opacity: 1;
            bottom: 400%;
        }

        100% {
            opacity: 0;
            bottom: 400%;
        }
    }

    @@keyframes rezultati {
        0% {
            opacity: 0;
            bottom: 0;
        }

        11% {
            opacity: 1;
            bottom: 0;
        }

        22% {
            bottom: 100%;
        }

        33% {
            bottom: 100%;
        }

        44% {
            bottom: 200%;
        }

        55% {
            bottom: 200%;
        }

        66% {
            bottom: 300%;
        }

        77% {
            bottom: 300%;
        }

        88% {
            opacity: 1;
            bottom: 400%;
        }

        100% {
            opacity: 0;
            bottom: 400%;
        }
    }
</style>

@if (!signinMenadjer.IsSignedIn(User))
{

    <div class="text-center">
        <h2 class="display-4">Dobrodošli</h2>
        <img src="~/homelogo.jpg" />

    </div>
    <div class="text-center divZaLogine">
        <a class="btn btn-warning customclasa" asp-action="Registracija" asp-controller="Account">Registracija</a>
        <a class="btn btn-success customclasa" asp-action="Login" asp-controller="Account">Login</a>

    </div>
}
else
{

    <div class="container">
        <div class="lijevaStrana">
            <div class="text-left lampicaDiv">
                <img id="lampica" src="~/lampice/lampicaoff2.jpg" alt="alttext" />
                <div class="badge badge-primary text-wrap" id="lampicaPoruka" style="width:100px;"></div>
            </div>
            <h1>
                Obavijesti
            </h1>
            <div class="slider">
                <div class="container">
                    @foreach (var item in Model.ZadnjeObjave)
                    {
                        <div class="slide">
                            <h3>@item.Item1.Naziv ajsdhgakjdga</h3>
                            <p>Za detalje kliknite na <a href="https://www.p1869.app.fit.ba/Takmicenje/Prikaz?id=@item.Item2.ID">@item.Item2.Naziv</a></p>
                            <br />
                            @if (item.Item1.Content.Length > 100)
                            {
                                <p>@item.Item1.Content.Substring(0, 100)</p>
                                <p>. . .</p>
                            }
                            else
                            {
                                <p>
                                    @item.Item1.Content
                                </p>
                            }
                            <br />
                            <p>@item.Item1.DatumIzmjene</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="desnaStrana">
            <h1>
                Rezultati
            </h1>
            <div class="slider" id="sliderRezultati">
                <div class="container" id="rez">
                    @foreach (var item in Model.ZadnjiRezultati)
                    {
                        <div class="slide" id="rezultati">
                            <h3>@item</h3>
                        </div>
                    }
                </div>
            </div>
            <h1>
                Fun corner :)
            </h1>
            <div class="slider">
                <div class="container" id="rez">
                    <div class="slide">
                        @foreach (var item in Model.FunFacts)
                        {
                            <div class="slide">
                                <h3>@item</h3>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lampice/lampice.js"></script>


