@inject SignInManager<IdentityUser<int>> signinMenadjer;
@model HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}
<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    #lampica {
        width: 150px;
        height: 150px;
        cursor: pointer;
    }

    .customclasa {
        width: 150px;
        margin-right: 20px;
    }

    #fitpong{
        width:90%;
    }

    .divZaLogine {
        margin-top: 20px;
    }

    .lijevaStrana {
        width: 50%;
        height:100%;
        float: left;
        padding-bottom:20px;
    }

    .desnaStrana {
        float: left;
        height:100%;
        width: 45%;
        margin-left: 4%;
    }

    .lampicaDiv {
        margin-bottom: 100px;
    }

    .objave {
    }

    .vannavbara {
        padding-left: 2px;
    }

        .vannavbara li {
            border-bottom: 1px solid black;
            list-style: none;
            margin-bottom: 5px;
        }
        
    /* [SLIDER] */
    .slider, .slider .slide {
        width: 100%;
        height: 280px;
    }

    .slider {
        overflow: hidden;
        margin: 0 auto;
        font-size: 1.2em;
        background-color: lightblue;
        border: 2px solid black;
    }

        .slider .container {
            position: relative;
            bottom: 0;
            right: 0;
            animation: slide-animation 30s infinite;
        }

        .slider #rez {
            position: relative;
            bottom: 0;
            right: 0;
            animation: rezultati 20s infinite;
        }

        .slider .slide {
            position: relative;
            box-sizing: border-box;
            padding: 10px 20px;
        }

    #sliderRezultati, #rezultati {
        width: 95%;
        height: 130px;
    }

    h1 {
        text-align: center;
    }

    /* [ANIMATION] */
    @@keyframes slide-animation {
        0% {
            opacity: 0;
            bottom: 0;
        }

        11% {
            opacity: 1;
            bottom: 0;
        }

        22% {
            bottom: 100%;
        }

        33% {
            bottom: 100%;
        }

        44% {
            bottom: 200%;
        }

        55% {
            bottom: 200%;
        }

        66% {
            bottom: 300%;
        }

        77% {
            bottom: 300%;
        }

        88% {
            opacity: 1;
            bottom: 400%;
        }

        100% {
            opacity: 0;
            bottom: 400%;
        }
    }

    @@keyframes rezultati {
        0% {
            opacity: 0;
            bottom: 0;
        }

        11% {
            opacity: 1;
            bottom: 0;
        }

        22% {
            bottom: 100%;
        }

        33% {
            bottom: 100%;
        }

        44% {
            bottom: 200%;
        }

        55% {
            bottom: 200%;
        }

        66% {
            bottom: 300%;
        }

        77% {
            bottom: 300%;
        }

        88% {
            opacity: 1;
            bottom: 400%;
        }

        100% {
            opacity: 0;
            bottom: 400%;
        }
    }

    #podij {
        border: 1px solid black;
        width: 100%;
        height:100%;
    }

    #podijDiv {
        position: relative;
        width: 100%;
        height:350px;
    }

        #podijDiv div {
            position: absolute;
            border: 1px solid black;
            /*width:130px;*/
            width: 30%;
            height: 35%;
            font-size: 18px;
            text-align: center
        }

            #podijDiv div small {
                display: block;
            }

    #prvi {
        /*margin-left:165px;
        margin-top:68px;*/
        position: absolute;
        left: 36%;
        top: 15%;
    }

    #drugi {
        /*margin-left:20px;
        margin-top:118px;*/
        position: absolute;
        left: 4%;
        top: 30%;
    }

    #treci {
        /*margin-left: 310px;
        margin-top: 157px;*/
        position: absolute;
        right: 2%;
        top: 40%;
    }

    #wrapper{
        width:100%;
        padding:10px;
        position:absolute;
    }

    @@media screen and (max-width: 800px) {
       
        * {
            margin: 0;
            padding: 0;
        }

        html, body{
            min-height:135%;
        }

        .lijevaStrana {
            width: 95%;
            clear: both;
        }

        .desnaStrana{
            width:95%;
            clear:both;
            margin:0;
            padding:0;
        }

        #wrapper{
            min-height:200px;
            overflow:hidden;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }

    @@media screen and (max-width: 600px) {
       html,body{
           min-height:140%;
       }

       #wrapper{
           width:90%;
       }

       .header{
           width:100%;
       }

       h1{
           font-size:18px;
       }

       h3{
           font-size:15px;
       }

       p{
           font-size:13px;
       }

       small{
           font-size:11px;
       }
    }
</style>

@if (!signinMenadjer.IsSignedIn(User))
{

    <div class="text-center">
        <h2 class="display-4">Dobrodošli</h2>
        <img src="~/homelogo.jpg" id="fitpong"/>

    </div>
    <div class="text-center divZaLogine">
        <a class="btn btn-warning customclasa" asp-action="Registracija" asp-controller="Account">Registracija</a>
        <a class="btn btn-success customclasa" asp-action="Login" asp-controller="Account">Login</a>

    </div>
}
else
{

    <div class="container" id="wrapper">
        <div class="lijevaStrana">
            <div class="text-left lampicaDiv">
                <img id="lampica" src="~/lampice/lampicaoff2.jpg" alt="alttext" />
                <div class="badge badge-primary text-wrap" id="lampicaPoruka" style=" width: 100px;"></div>
            </div>
            <h1>
                Obavijesti
            </h1>
            <div class="slider" id="obavijesti">
                <div class="container">
                    @foreach (var item in Model.ZadnjeObjave)
                    {
                        <div class="slide">
                            <h3>@item.Item1.Naziv</h3>
                            <p>Za detalje kliknite na <a href="https://www.p1869.app.fit.ba/Takmicenje/Prikaz?id=@item.Item2.ID">@item.Item2.Naziv</a></p>
                            <br />
                            @if (item.Item1.Content.Length > 100)
                            {
                                <p>@item.Item1.Content.Substring(0, 100)</p>
                                <p>. . .</p>
                            }
                            else
                            {
                                <p>
                                    @item.Item1.Content
                                </p>
                            }
                            <p>@item.Item1.DatumIzmjene</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="desnaStrana">
            <h1>
                Rezultati
            </h1>
            <div class="slider" id="sliderRezultati">
                <div class="container" id="rez">
                    @foreach (var item in Model.ZadnjiRezultati)
                    {
                        <div class="slide" id="rezultati">
                            <h3>@item</h3>
                        </div>
                    }
                </div>
            </div>
            <h2 class="text-center">
                Top ove sedmice
            </h2>
            <div>
                <div class="container" id="rez">
                    <div id="podijDiv">
                        <div id="prvi">
                            @if (Model.TopIgraci.Count > 0 && Model.TopIgraci[0] != null)
                            {
                                <small>@Model.TopIgraci[0].Naziv</small>
                                <small>Osvojenih setova : @Model.TopIgraci[0].BrojOsvojenihSetova</small>
                                <small>ELO : @Model.TopIgraci[0].ELO</small>
                                <small>Pobjeda : @Model.TopIgraci[0].BrojPobjeda</small>
                                <small>Poraza : @Model.TopIgraci[0].BrojPoraza</small>
                            }
                        </div>
                        <div id="drugi">
                            @if (Model.TopIgraci.Count > 1 && Model.TopIgraci[1] != null)
                            {
                                <small>@Model.TopIgraci[1].Naziv</small>
                                <small>Osvojenih setova : @Model.TopIgraci[1].BrojOsvojenihSetova</small>
                                <small>ELO : @Model.TopIgraci[1].ELO</small>
                                <small>Pobjeda : @Model.TopIgraci[1].BrojPobjeda</small>
                                <small>Poraza : @Model.TopIgraci[1].BrojPoraza</small>
                            }
                        </div>
                        <div id="treci">
                            @if (Model.TopIgraci.Count > 2 && Model.TopIgraci[2] != null)
                            {
                                <small>@Model.TopIgraci[2].Naziv</small>
                                <small>Osvojenih setova : @Model.TopIgraci[2].BrojOsvojenihSetova</small>
                                <small>ELO : @Model.TopIgraci[2].ELO</small>
                                <small>Pobjeda : @Model.TopIgraci[2].BrojPobjeda</small>
                                <small>Poraza : @Model.TopIgraci[2].BrojPoraza</small>
                            }
                        </div>
                        <img id="podij" src="~/podij4.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lampice/lampice.js"></script>


