@model FIT_PONG.ViewModels.TakmicenjeVMs.CreateTakmicenjeVM;
@{
    ViewData["Title"] = "Dodaj";
}
@*(string _naziv,DateTime _pocetakprijava,DateTime _krajprijava,
            int _minimalniELO,int _kategorijaID,int _sistemID,int _vrstaID,int _statusID, DateTime?
    _pocetaktakmicenja = null)*@
<style>
    tr td {
        margin-right: 25px;
    }
</style>
<h1>Dodaj novo takmicenje</h1>
<form asp-action="Dodaj" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table>
        <tr>
            <td>Naziv</td>
            <td>@Html.EditorFor(mod => mod.Naziv)</td>
            <td>@Html.ValidationMessageFor(s => s.Naziv, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>Pocetak prijava</td>
            <td><input type="datetime-local" asp-for="RokPocetkaPrijave" /></td>
            <td>@Html.ValidationMessageFor(s => s.RokPocetkaPrijave, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Kraj prijava</td>
            <td><input type="datetime-local" asp-for="RokZavrsetkaPrijave" /></td>
            <td>@Html.ValidationMessageFor(s => s.RokZavrsetkaPrijave, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Minimalni ELO</td>
            <td><input type="text" asp-for="MinimalniELO" /></td>
            <td>@Html.ValidationMessageFor(s => s.MinimalniELO, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Kategorija</td>
            <td>@Html.DropDownListFor(n => n.KategorijaID, new SelectList(ViewBag.kategorije, "ID", "Opis"), "Odaberite kategoriju")</td>
            <td>@Html.ValidationMessageFor(s => s.KategorijaID, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Sistem</td>
            <td>@Html.DropDownListFor(n => n.SistemID, new SelectList(ViewBag.sistemi, "ID", "Opis"), "Odaberite sistem")</td>
            <td>@Html.ValidationMessageFor(s => s.SistemID, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Vrsta</td>
            <td>@Html.DropDownListFor(n => n.VrstaID, new SelectList(ViewBag.vrste, "ID", "Opis"), "Odaberite vrstu")</td>
            <td>@Html.ValidationMessageFor(s => s.VrstaID, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Status</td>
            <td>@Html.DropDownListFor(n => n.StatusID, new SelectList(ViewBag.statusi, "ID", "Opis"), "Odaberite status")</td>
            <td>@Html.ValidationMessageFor(s => s.StatusID, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Datum pocetka</td>
            <td><input type="datetime-local" asp-for="DatumPocetka" /></td>
            <td>@Html.ValidationMessageFor(s => s.DatumPocetka, "", new { @class = "text-danger" })</td>

        </tr>
    </table>
    <input type="submit" value="Dodaj" />
</form>


