@model FIT_PONG.ViewModels.TakmicenjeVMs.EditTakmicenjeVM
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" method="post">
    <table>
        @Html.HiddenFor(x => x.ID)
        <tr>
            <td>Naziv</td>
            <td>@Html.EditorFor(mod => mod.Naziv)</td>
            <td>@Html.ValidationMessageFor(s => s.Naziv, "", new { @class = "text-danger" })</td>
        </tr>
        @if (Model.RokPocetkaPrijave != null) /*ako si rucno unosio ljude nemas ti sta ovo mijenjat*/
        {
            <tr>
                <td>Pocetak prijava</td>
                <td><input type="datetime-local" asp-for="RokPocetkaPrijave" /></td>
                <td>@Html.ValidationMessageFor(s => s.RokPocetkaPrijave, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Kraj prijava</td>
                <td><input type="datetime-local" asp-for="RokZavrsetkaPrijave" /></td>
                <td>@Html.ValidationMessageFor(s => s.RokZavrsetkaPrijave, "", new { @class = "text-danger" })</td>

            </tr>
            <tr>
                <td>Minimalni ELO</td>
                <td><input type="text" asp-for="MinimalniELO" /></td>
                <td>@Html.ValidationMessageFor(s => s.MinimalniELO, "", new { @class = "text-danger" })</td>

            </tr>
            <tr>
                <td>Kategorija</td>
                <td>@Html.DropDownListFor(n => n.KategorijaID, new SelectList(ViewBag.kategorije, "ID", "Opis"), "Odaberite kategoriju")</td>
                <td>@Html.ValidationMessageFor(s => s.KategorijaID, "", new { @class = "text-danger" })</td>

            </tr>

            <tr>
                <td>Vrsta</td>
                <td>@Html.DropDownListFor(n => n.VrstaID, new SelectList(ViewBag.vrste, "ID", "Opis"), "Odaberite vrstu")</td>
                <td>@Html.ValidationMessageFor(s => s.VrstaID, "", new { @class = "text-danger" })</td>

            </tr>
        }
        <tr>
            <td>Status</td>
            <td>@Html.DropDownListFor(n => n.StatusID, new SelectList(ViewBag.statusi, "ID", "Opis"), "Odaberite status")</td>
            <td>@Html.ValidationMessageFor(s => s.StatusID, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>Datum pocetka</td>
            <td><input type="datetime-local" asp-for="DatumPocetka" /></td>
            <td>@Html.ValidationMessageFor(s => s.DatumPocetka, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>Datum zavrsetka</td>
            <td><input type="datetime-local" asp-for="DatumZavrsetka" /></td>
            <td>@Html.ValidationMessageFor(s => s.DatumZavrsetka, "", new { @class = "text-danger" })</td>
        </tr>
    </table>
    <input type="submit" value="Spasi" />
    <a href="/Takmicenje/" class="btn btn-outline-light">Odbaci</a>
</form>

