@model FIT_PONG.ViewModels.TakmicenjeVMs.TakmicenjeVM;
@{
    ViewData["Title"] = "Prikaz";
}

<h1>@Model.Naziv</h1>
<table>
    <tr>
        <td>Pocetak prijava</td>
        <td>@Model.DatumPocetkaPrijava.ToString()</td>
    </tr>
    <tr>
        <td>Kraj prijava</td>
        <td>@Model.DatumZavrsetkaPrijava.ToString()</td>
    </tr>
    <tr>
        <td>Minimalni ELO</td>
        <td>@Model.MinimalniELO</td>
    </tr>
    <tr>
        <td>Kategorija</td>
        <td>@Model.Kategorija</td>
    </tr>
    <tr>
        <td>Sistem</td>
        <td>@Model.Sistem</td>
    </tr>
    <tr>
        <td>Vrsta</td>
        <td>@Model.Vrsta</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Datum pocetka</td>
        <td>@Model.DatumPocetkaPrijava.ToString()</td>
    </tr>
</table>
<a asp-controller="Takmicenje" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info">Edit</a>
<a asp-controller="Takmicenje" asp-action="Obrisi" asp-route-id="@Model.ID" class="btn btn-outline-danger">Obrisi</a>


