@using FIT_PONG.ViewModels;
@{
    ViewData["Title"] = "Prikaz";
    TakmicenjeVM tak = (TakmicenjeVM)ViewData["takmicenjeKey"];
}

<h1>@tak.Naziv</h1>
<table>
    <tr>
        <td>Naziv</td>
        <td>@tak.Naziv </td>
    </tr>
    <tr>
        <td>Pocetak prijava</td>
        <td>@tak.DatumPocetkaPrijava.ToString()</td>
    </tr>
    <tr>
        <td>Kraj prijava</td>
        <td>@tak.DatumZavrsetkaPrijava.ToString()</td>
    </tr>
    <tr>
        <td>Minimalni ELO</td>
        <td>@tak.MinimalniELO</td>
    </tr>
    <tr>
        <td>Kategorija</td>
        <td>@tak.Kategorija</td>
    </tr>
    <tr>
        <td>Sistem</td>
        <td>@tak.Sistem</td>
    </tr>
    <tr>
        <td>Vrsta</td>
        <td>@tak.Vrsta</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@tak.Status</td>
    </tr>
    <tr>
        <td>Datum pocetka</td>
        <td>@tak.DatumPocetkaPrijava.ToString()</td>
    </tr>
    </table>

    <button onclick="window.location.href='/Takmicenje/Edit?id=@tak.ID'">EDIT</button>
    <button onclick="window.location.href='/Takmicenje/Obrisi?id=@tak.ID'" >OBRISI</button>
    <p>samo kreator smije dirati ove batne,nemojte vi ostali</p>
