
@{
    ViewData["Title"] = "Prikazi";
    var gradovi = (List<Grad>)(ViewData["gradoviKey"]);
}

@if (gradovi.Count <= 0)
{
    <h1>Trenutno nema dodanih gradova</h1>
    <a href="/Grad/Dodaj" class="btn btn-outline-primary">Dodaj novi</a>
}

else
{

<h1>Lista gradova</h1>
<table class="table table-info">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @if (gradovi != null)
        {
            @foreach (var item in gradovi)
            {
        <tr>
            <td>@item.ID</td>
            <td>@item.Naziv</td>

            <td><a asp-controller="Grad" asp-action="Obrisi" asp-route-gradID="@item.ID" class="btn btn-danger" onclick="return confirm('Da li ste sigurni da želite obrisati grad @item.Naziv ?')">Obriši</a></td>
            <td><a asp-controller="Grad" asp-action="Edit" asp-route-gradID="@item.ID" class="btn btn-info">Edituj</a></td>

        </tr>
            }
        }
    </tbody>
</table>
<a href="/Grad/Dodaj" class="btn btn-success">Dodaj novi</a>

}
