@model FIT_PONG.ViewModels.IgracVMs.IgracVM
@{
    ViewData["Title"] = "PrikazProfila";
    var visina = Model.Visina != null ? Model.Visina.ToString() + " cm" : "Nije postavljeno";
    var jacaRuka = Model.JacaRuka ?? "Nije postavljeno";
    var poruka = Model.ProfileImagePath == "/profile_picture_default.png" ? "Ne možete ukloniti default-nu sliku profila." :
        "Da li ste sigurni da želite obrisati sliku profila?";
    ;
}
<style>

    img {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        float: left;
        margin: 10px;
    }

    .btn {
        margin: 5px;
    }

    #statistika {
        float: right;
        display: inline;
        font-family: Consolas;
        width: 400px;
        top: 100px;
        right: 100px;
        position: absolute;
        background-color: darkslategrey;
    }

    #tbl {
        display: none;
    }
</style>
<img src=@Url.Content(Model.ProfileImagePath) asp-append-version="true" alt="Slika nije ispravno učitana." />
<h1 style="margin:10px;display:inline;">@Model.PrikaznoIme</h1>
@*Ovo je samo privremeno dok se ne rijesi microsoft identity, jer je postivalacID u ovom trenutku hard-kodiran parametar*@
<a href="/Igrac/PostujIgraca?postovaniID=@Model.ID" class="btn btn-outline-secondary" style="display:inline;margin-left:200px;">Poštuj igrača: @Model.BrojPostovanja</a>
<br />
<a asp-controller="Igrac" asp-action="EditSliku" asp-route-igracID="@Model.ID" class="btn btn-outline-primary">Promijeni sliku</a>
<br />
<a href="/Igrac/UkloniSliku?igracID=@Model.ID" class="btn btn-outline-danger" onclick="return confirm('@poruka')">Ukloni sliku</a>
@if (Model.statistika != null)
{
    <div id="statistika" class="card">
        <table class="table table-dark">
            <thead><tr><th> <h2>Statistika za @Model.statistika.AkademskaGodina. godinu</h2></th></tr></thead>
            <tbody>
                <tr>
                    <td>Broj odigranih mečeva:</td>
                    <td>@Model.statistika.BrojOdigranihMeceva</td>
                </tr>
                <tr>
                    <td>Broj single pobjeda:</td>
                    <td>@Model.statistika.BrojSinglePobjeda</td>
                </tr>
                <tr>
                    <td>Broj osvojenih turnira:</td>
                    <td>@Model.statistika.BrojOsvojenihTurnira</td>
                </tr>
                <tr>
                    <td>Broj osvojenih liga:</td>
                    <td>@Model.statistika.BrojOsvojenihTurnira</td>
                </tr>
                <tr>
                    <td>Najveći pobjednički niz:</td>
                    <td>@Model.statistika.BrojOsvojenihTurnira</td>
                </tr>
                <tr>
                    <td>Broj timskih pobjeda:</td>
                    <td>@Model.statistika.BrojOsvojenihTurnira</td>
                </tr>
            </tbody>
        </table>
        <div id="buttoni">
            <a asp-controller="Igrac" asp-action="Statistike" asp-route-igracID="@Model.ID" class="btn btn-outline-light">Pogledaj ostale statistike</a>
        </div>
    </div>
}
<div class="card border-info" style="margin-top:80px;margin-left:10px;width:500px;padding:10px;">
    <h3>Visina: @visina</h3>
    <h3>Jača ruka: @jacaRuka</h3>
    <h3>Broj posjeta na profil: @Model.BrojPosjetaNaProfil</h3>
    <h3>ELO: @Model.ELO</h3>
    <h3>Spol: @Model.Spol</h3>
    <h3>Grad: @Model.Grad</h3>
</div>
<button id="btn" class="btn btn-outline-info" style="margin:10px;" onclick="PrikaziPrijave()">Moje prijave</button>

    <table id="tbl" class="table table-primary" style="width:400px; margin:10px;">
        <thead>
            <tr>
                <th>Naziv takmičenja</th>
                <th>Naziv tima</th>
                <th>Otkaži</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.listaPrijava != null && Model.listaPrijava.Count>0)
            {
                @foreach (var item in Model.listaPrijava)
                {
                    <tr>
                        <td>@item.Takmicenje.Naziv</td>
                        <td>@item.Naziv</td>
                        <td><a asp-controller="Takmicenje" asp-action="Otkazi" asp-route-prijavaID="@item.ID" class="btn btn-danger" style="cursor:pointer;" onclick="return confirm('Jeste li sigurni da želite otkazati prijavu?')">Otkaži</a></td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3"><h3>Niste prijavljeni ni na jedno takmičenje.</h3></td></tr>

            }
        </tbody>
    </table>

<a href="/Igrac/Index" class="btn btn-outline-secondary" style="margin:10px;">Back</a>
<a asp-controller="Igrac" asp-action="EditPodatke" asp-route-igracID="@Model.ID" class="btn btn-outline-primary" style="margin:10px;">Edituj profil</a>

@section Scripts{ 
<script>
    function PrikaziPrijave() {
        var tbl = document.getElementById("tbl").style;
        if (tbl.display == "block")
            tbl.display = "none";
        else
            tbl.display = "block";
    }
</script>
}
