@model FIT_PONG.ViewModels.TakmicenjeVMs.TakmicenjeVM
@{
    Layout = null;
}

<style>
    #btns {
        width:700px;
        display:inline-block;
    }
    #btns a{
        width:150px;
    }
</style>
<br />
<div class="row">
    <div class="col-4 justify-content-start">
        @if (Model.DatumPocetkaPrijava != null)/*nije dobra praksa if-ovi u viewu ali eto*/
        {
            <div class="form-group row ">
                <label class="col">Pocetak prijava</label>
                <div class="form-control col">@Model.DatumPocetkaPrijava.ToString()</div>
            </div>
            <div class="form-group row">
                <label class="col">Kraj prijava</label>
                <div class="form-control col">@Model.DatumZavrsetkaPrijava.ToString()</div>
            </div>
            <div class="form-group row">
                <label class="col">Minimalni ELO</label>
                <div class="form-control col">@Model.MinimalniELO</div>
            </div>
        }
        <div class="form-group row">
            <label class="col">Kategorija</label>
            <div class="form-control col">@Model.Kategorija</div>
        </div>
        <div class="form-group row">
            <label class="col">Sistem</label>
            <div class="form-control col">@Model.Sistem</div>
        </div>
        <div class="form-group row">
            <label class="col">Vrsta</label>
            <div class="form-control col">@Model.Vrsta</div>
        </div>
        <div class="form-group row">
            <label class="col">Status</label>
            <div class="form-control col">@Model.Status</div>
        </div>
        <div class="form-group row">
            <label class="col">Datum pocetka</label>
            <div class="form-control col">@Model.DatumPocetka.ToString()</div>
        </div>
        <div class="form-group row">
            <label class="col">Datum zavrsetka</label>
            <div class="form-control col">@Model.DatumZavrsetka.ToString()</div>
        </div>
    </div>
    <div class="col-3">

    </div>
    <div class="col-5 align-items-end">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Prijava ID</th>
                    <th>Naziv tima</th>
                    <th>Blokiraj</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Prijave)
                {
                    <tr>
                        <td class="text-center">@item.ID</td>
                        <td class="text-center">@item.Naziv</td>
                        <td class="text-center"><a href="/Takmicenje/BlokirajPrijavu?prijavaID=@item.ID&nazivTima=@item.Naziv" id="blok-@item.ID" class="btn btn-outline-danger" onclick="return confirm('Da li ste sigurni da želite blokirati prijavu?')">Blokiraj</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<br />
<br />
<div id="btns">
    <a asp-controller="Takmicenje" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info">Edit</a>
    <a asp-controller="Takmicenje" asp-action="Obrisi" asp-route-id="@Model.ID" class="btn btn-outline-danger">Obrisi</a>
    @if (Model.DatumPocetkaPrijava != null && Model.DatumZavrsetkaPrijava > DateTime.Now)
    {
        <a asp-controller="Takmicenje" asp-action="Prijava" asp-route-takmID="@Model.ID" class="btn btn-outline-primary">Prijavi se</a>
    }
    else
    {
        <button class="btn btn-outline-secondary" disabled>Završene prijave</button>
    }
    @if(!Model.Inicirano.GetValueOrDefault())
    {
        <a class="btn btn-outline-primary" asp-controller="Takmicenje" asp-action="Init" asp-route-id="@Model.ID">Generisi raspored</a>
    }
</div>
<div style="clear:both;">

</div>

