@model FIT_PONG.ViewModels.TakmicenjeVMs.TakmicenjePrijavaVM
@{
    ViewData["Title"] = "Prijava";
}

<h1 class="text-center">Prijavi se na takmičenje</h1>
<br />
<div class="row justify-content-center">
    <div class="col-6">
        <form action="/Takmicenje/Prijava" method="post">
            <div class="form-group">
                @Html.Label("Vaše prikazno ime: ")
                @Html.DropDownListFor(x => x.Igrac1ID, new SelectList(ViewBag.igrac, "ID", "Opis", 0)
               , "Izaberi",  new { @class = "form-control" })
                <span asp-validation-for="Igrac2ID" class="text-danger"></span>
            </div>
            @if (Model.isTim)
            {

                <div class="form-group">
                    @Html.Label("Izaberite saigrača:")
                    @Html.DropDownListFor(x => x.Igrac2ID, new SelectList(ViewBag.igraci, "ID", "Opis")
                   , "Izaberi" , new { @class = "form-control" })
                    <span asp-validation-for="Igrac2ID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.Label("Naziv tima: ")
                    @Html.TextBoxFor(x => x.Naziv , new { @class = "form-control" })
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>
            }
            @Html.HiddenFor(x => x.takmicenjeID)
            @Html.HiddenFor(x => x.isTim)
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Prijavi" class="btn btn-info" style="width:100px;" />
            </div>
        </form>
    </div>
</div>